.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #2E2F42;
}

.logo   {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.logo-part  {
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.logo-part:hover,
.logo-part:focus    {
    color: #4D5AE5;
}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.menu-link:hover,
.menu-link:focus {
    color: #4D5AE5;
}

.mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    cursor: default;
}

.mail:hover,
.main:focus {
    color: #4D5AE5;
}

.phone  {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    cursor: default;
}

.phone:hover,
.phone:focus    {
    color: #4D5AE5;
}

.hero {
    background: #2E2F42;
}

.main-title  {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-btn   {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #404BBF;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #4D5AE5;;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.sub-title  {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
letter-spacing: 0.02em;
}

.description    {
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.modal-btn  {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
letter-spacing: 0.04em;
color: #4D5AE5;
cursor: pointer;
}

.modal-btn:hover,
.modal-btn:focus    {
    background: #4D5AE5;
    color: #FFFFFF;
}

.page-footer {
    background: #2E2F42;
}

.footer-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.logo-footer:hover,
.logo-footer:focus    {
    color: #4D5AE5;
}
